@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --inputs-height: 74px;
    --inputs-width: 286px;
    --text-background: rgb(82, 170, 144);
}

html, body {
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    background: #3B5843;
}

body::-webkit-scrollbar {
    width: 0;
}

.main {
    box-sizing: border-box;
    min-height: 100%;
    width: max-content;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.search-field {
    margin: 0 0 10px 0;
}

.search-input {
    box-sizing: border-box;
    width: var(--inputs-width);
    height: var(--inputs-height);
    margin: 0 14px;
    font-size: 36px;
    background: var(--text-background);
}

/* disable white background when autofilling the inputs */
.search-input:-webkit-autofill,
.search-input:-webkit-autofill:hover,
.search-input:-webkit-autofill:focus,
.search-input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 var(--inputs-height) var(--text-background) inset !important;
}

.search-input::-webkit-input-placeholder {
    color: black;
}

.left-search-input {
    margin-left: 0;
}

.search-input-btn {
    font-weight: bold;
    margin-right: 0;
    color: black;
    background: #00FFB2;
}

.search-input-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.lyrics-field {
    flex: 1;
    background: var(--text-background);
}

.box {
    font-family: "Open Sans", sans-serif;
    border-radius: 6px;
    text-align: center;
    border: 0;
}

.counter {
    --counter-size: 100px;

    padding: 10px;
    text-align: start;
    height: var(--counter-size);
    width: var(--counter-size);
    font-size: 20px;
    line-height: calc(var(--counter-size) / 3);
    position: absolute;
    margin: 0;
    top: 10px;
    left: 10px;
}

.counter-number {
    color: #E4FFF9;
    font-weight: bold;
}

.session-time-counter {
    width: max-content;
    text-align: right;
    left: 91%;
}